.bar {
  fill: blue;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

#app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #5ce4e4;
}

#app-container #title {
  margin: 5px 0;
  padding: 5px 0;
  text-align: center;
}

#tooltip {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}
